/* Small phones styling 0 - 480px */
@media only screen and (max-width: 480px) {}

/* Small phones to small tablets styling 481-767 */
@media only screen and (max-width: 767px) {
  .small-icon {
    width: 20px;
    font-size: 20% !important;
    margin-right: 2px;
  }

  .city-feature {
    font-size: 90% !important;
  }

}

/* Ipad in potrait mode and small tablets from 768-1023 */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 15px;
  }

  section {
    padding: 30px;
  }

  .btn-app img {
    width: 120px;
    height: 40px;


  }

  .plan-price {
    font-size: 250%;
  }

  .city-feature i {
    width: auto;
  }



  .long-copy {

    width: 80%;
    padding-left: auto 10%;

  }

  .city-feature {
    font-size: 90%;

  }

}

/*Big tablet up  1200px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}